button{
    text-align: center;
    margin-top: 20%;
}

body{
    background-color: rgb(223, 232, 235);
}

.App {
    border: 1px solid black;
    margin: 10% 35%;
    padding: 10px 50px;
	background-color:rgb(165, 179, 184);
}



table, td {
    border: 2px solid rgb(131, 228, 217);
    border-collapse: collapse;
}

table > tr > td:first-child {
    min-width: 256.47px;
    max-width: 256.47px;
    background-color: antiquewhite;
}
input{
    width: 271px;
    margin-bottom: 10px;
    
}

form button {
    width: 78px;
}